.btn-primary,
.btn-primary:visited {
  border: 1px solid #c16851 !important;
  background-color: transparent !important;
  font-family: "EB Garamond" !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 29px !important;
  letter-spacing: 0.07em !important;
  text-align: center !important;
  color: #c16851 !important;
}

.btn-primary:hover,
.btn-primary:active {
  border: 1px solid transparent !important;
  background-color: #c16851 !important;
  font-family: "EB Garamond" !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 29px !important;
  letter-spacing: 0.07em !important;
  text-align: center !important;
  color: #ffffff !important;
}

.btn-secondary,
.btn-secondary:visited {
  border: 1px solid transparent !important;
  background-color: #c16851 !important;
  font-family: "EB Garamond" !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 29px !important;
  letter-spacing: 0.07em !important;
  text-align: center !important;
  color: #ffffff !important;
  transform: translate(0px, 0px);
  box-shadow: 0px 0px transparent;
}

.btn-secondary:hover,
.btn-secondary:active {
  border: 1px solid transparent !important;
  background-color: #c16851 !important;
  font-family: "EB Garamond" !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 29px !important;
  letter-spacing: 0.07em !important;
  text-align: center !important;
  color: #ffffff !important;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #A8C0A6;
  transition: 1.0s;
}