.filterHotelInput {
  width: 100%;
  margin-bottom: 24px;

  label {
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #c16851;
    margin-bottom: 16px;
  }
}
.filterHotelOptions {
  margin-bottom: 24px;
  h4 {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #c16851;
    margin-bottom: 16px;
  }

  .select-warp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      width: 48%;
    }
  }
  .form-check {
    margin-bottom: 17px;
  }
}
