/* Crimson Text */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Pacifico */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* EB Garamond */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Cormorant */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Custom css */
@import url("./assets//scss/common.scss");

/* boostrap override */
@import url("./assets/scss/boostrap/button.scss");
@import url("./assets/scss/boostrap/select.scss");
@import url("./assets/scss/boostrap/input.scss");
@import url("./assets/scss/boostrap/breadcrumb.scss");
@import url("./assets/scss/boostrap/checkbox.scss");

@import url("./assets//scss/MUI/custom.scss");

/* react-slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}
li {
  list-style: none;
}

.row {
  width: 100% !important;
  margin-left: 0 !important;
}
